:root{
  --dark-green:#1B5B31;
  --beige:#DCC1AB;
  --wheat-color:#f4f0ec;
  --grey:#F5F0EC;
}


* {
box-sizing: border-box;
}

body, html {
  scroll-behavior: smooth;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow-x:hidden;
}

.txt-right{
  padding-left: 5rem;
}
nav{
    background-color: white;
    height:4.5rem;
}
.nav-link{
    color: black;
}
.logo{
    height: 3rem;
}

.nav-item{
    margin-left: 1rem;
    margin-right: 1rem;
}
main{
  padding: 0;
}
.searchBox {
  background: white;
  height: 40px;
  border-radius: 20rem;
  padding: 10px;
  border: none;
}

.searchBox:hover > .searchInput {
  width: 240px;
  border-bottom: 1px solid black;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: white;
color : #2f3640;
}

.searchButton {
  color: black;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
#iconSearch{
  color: black;
  position: absolute;
  margin:10px 0 0 10px;
  z-index: 1000;
}
.searchInput {
  border:none;
  background: white;
  outline:none;
  float:left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

footer{
  bottom: 0;
  width: 100%;
  height: 25rem;
  background-color: #111111;
  color: white;

}
.btn-dark-green{
  display: flex;
  padding: 0.75rem 1.5rem 0.875rem 1.5rem;
  align-items: center;
  background-color: var(--dark-green);
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 12.5rem;
}
#sliderLeft{
  background-color: var(--beige);
  width: calc(100vw - 43rem);
  padding: 10% 11% 10% 5%;
  height: 90vh;
}
#img-intro{
  width: 43rem;
  right: 0;
height: 90vh;  
}
#img-section{
  width: 43rem;
  left: 0;
  position: absolute;
  height: 100%;
}
.slider{
  max-height: 100vh;
  margin-bottom: 0;
}
.h1-intro{
  color: black;
  width: 30rem;
font-size: 3.75rem;
font-style: normal;
font-weight: 500;
line-height: 4.375rem; 
}
.btn-beige{
  border-radius: 12.5rem;
  border:1px solid var(--dark-green);
  background-color: var(--beige);
  color: var(--dark-green);
  display: flex;
  padding: 0.75rem 1.375rem 0.875rem 1.375rem;
  align-items: center;
 
}
hr.solid {
  border: 0.8px solid white;
  width: 98%;
}

.footer-list .left{
  list-style: none;
  margin-left: 0%;
  padding-left: 0%;
}

.footer-list .right{
  list-style: none;
  margin-right: 0%;
  padding-right: 0%;
}
.footer-item{
  display: inline-block;
  margin-right: 1.5rem;

}
.row{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.boxes{
  background-color: var(--wheat-color);
  display: flex;
  margin-top: 0;
  height: 100vh;
  padding: 5.5rem 0rem 8rem 0rem;
  flex-direction: column;
  align-items: center;
}

p{
  font-family: Inter;
  font-size: 1rem;
  align-content: stretch;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.navigation{
  background-color: var(--beige);
  z-index: 1000;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 1.5rem 2rem;
  align-items: flex-start;
  gap: 2rem;
}
.text-2{
  width: 70%;
}
#p2{
  width: 60%;
  margin-top: 2rem;
}


.card-elem{
  
  position: relative;
  background-color: white;
  display: flex;
  width: 21.7rem;
  height: 22.2rem;
  padding: 3rem 2.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 1.75rem;
  cursor: pointer;
   transition: all 0.3s ease;
}i
.card-title{
  font-family: Montserrat;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; 
  margin-top: 2rem;
  letter-spacing: -0.0875rem;
}
.card-text{
  margin-top: 2rem; 
  transition: 0.5s;
}
.btn-box{
  color:var(--dark-green);
  border: none;
  background-color: white;
  transform: translateY(2rem);
  transition: 0.5s;
  opacity: 0;
  border-bottom: 1px solid var(--dark-green);
  padding: 1%;
  margin-top: 1rem;
} 
.card-elem:hover .btn-box{
  opacity: 1;
  transform: translateY(-0.5rem);
}
.card-elem:hover .card-text{
  margin-top: 0rem;
}
.card-elem:hover{
  transform: scale(1.10, 1.10);
}
.block{
  height: 100vh;
  
}
#sectionRight{
  right: 0;
  float: right;
  height: 100%;
  background-color: var(--dark-green);
  width: calc(100vw - 43rem);
  padding-left: 6rem;
}
.content-right{
  margin-top: 8rem;
  color: var(--wheat-color);
  display: flex;
  width: 37.25rem;
  padding-left: 6rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
.btn-green-w-border{
  display: flex;
  padding: 0.75rem 1.375rem 0.875rem 1.375rem;
  align-items: center;
  margin-top: 4rem;
  background-color: var(--dark-green);
  color: var(--grey);
  border-radius: 12.5rem;
  border: 1px solid var(--grey);
}
.h1-section{
font-size: 4rem;
font-weight: 500;
line-height: 115%; 
letter-spacing: -0.09rem;
}

.demo{
  margin-bottom: 24px;
  overflow: hidden;
}
.demo1{
  display: none;
}
.demo-image{
  width: 100%;
  display: block;
  height: auto;
}
.images{
  background-color: var(--beige);
  padding-top: 7.5rem;
}
.images-content{
  margin: 0 10rem 6rem 10rem;
}
span{
  color: var(--dark-green);
}
.overlay::before {
  transition: 0.5s;
  content: '';
  z-index: 10;
  width: 100%;
  height: 90%;
  display:block;
  position: absolute;
  background: linear-gradient(360deg, #DCC1AB 0%, rgba(214, 183, 158, 0.00) 100%);
}
.new-pictures::before {
  margin-top: 41rem;
  transition: 0.5s;
}
.btn-figcaption{
  margin-top: 39rem;
  border-radius: 12.5rem;
  border: 1px solid #111;
  display: inline-flex;
  padding: 0.75rem 1.375rem 0.875rem 1.375rem;
  align-items: center;
  z-index: 50;
  transition: all 0.5s;
  background: transparent;
  position: absolute;
}
.btn-new{
  display: none;
}
.contact{
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
.newsletter{
  width: 65rem;
  margin: auto;
  background-color: var(--dark-green);
  color: var(--grey);
  padding: 6.88rem 7.5rem 6.88rem 7.5rem;
}

.btn-white{
  margin-top: 1.5rem;
  border: none;
  display: flex;
  padding: 0.625rem 1.5rem 0.75rem 1.5rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 12.5rem;
  background: var(--grey);
}
.show-img{
  transition: all 0.3s;
  margin-bottom: 24px;
  overflow: hidden;
  display: block;
}

i{
  z-index: 9;
  position: absolute;
  margin-bottom: 50%;
}






@media all and (max-device-width: 480px){
  #img-intro{
    display: none;
  }
  
  #sliderLeft{
    width: fit-content;
    padding:  10%;
    
  }
  .navigation{
    display: none;
  }
  #items{
    opacity: 0;
    display: none;
  }
  .h1-intro{
    font-size: 3rem;
    width: 90%;
  }
  .row{
    display: flex;
    flex-direction: column;
  }
  #img-section{
    display: none;
  }
  .card-title{
    font-size: 1rem;
  }
  .text-2{
    width: 100%;
    padding-left: 10%;
  }
  .card-elem{
    margin: auto;
  }
  .btn-dark-green{
    width: 180%;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 0.7rem;
    position: absolute;
  }
  .btn-green-w-border{
    margin-top: 1rem;
  }
  .btn-beige{
    display: none;
  }
  .boxes{
    display: flex;
    height: fit-content;
    flex-direction: column;
  }
  .tools{
    width: 90%;
    margin-left: 20%;
  }
  .col-4 {
    width: 100vw;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 10%;

  }
  #sectionRight{
    width: 100%;
    padding-left:0;
  }
  .content-right{
    width: 90%;
    padding-left: 10%;
  }
  .h1-section{
    font-size: 3rem;
  }
  .demo1{
    display: flex;
  }
  .card-elem:hover{
    transform: scale(1.05, 1.05);
  }
  .overlay::before{
    display: none;
  }
  .images-content{
    margin: 10%;
  }
  .btn-figcaption{
    display: none;
  }
  footer{
    width: 100%;
  }
  .h1-down{
    font-size: 3rem;
  }
  .contact{
    display: nones;
  }

}

@media all and (min-device-width: 480px) and (max-device-width:1024px){
  #img-intro{
    width: 40%;
  }
  
  #sliderLeft{
    width: fit-content;
    padding:  10%;
    
  }
  .navigation{
    display: none;
  }
  #items{
    opacity: 0;
    display: none;
  }
  .h1-intro{
    font-size: 3rem;
    width: 90%;
  }
  .row{
    display: flex;
    flex-direction: column;
  }
  #img-section{
    display: none;
  }
  .card-title{
    font-size: 1rem;
  }
  .text-2{
    width: 100%;
    padding-left: 10%;
  }
  .card-elem{
    margin: auto;
  }
  .btn-dark-green{
    width: 180%;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 0.7rem;
    position: absolute;
  }
  .btn-green-w-border{
    margin-top: 1rem;
  }
  .btn-beige{
    display: none;
  }
  .boxes{
    display: flex;
    height: fit-content;
    flex-direction: column;
  }
  .tools{
    width: 90%;
    margin-left: 20%;
  }
  .col-4 {
    width: 100vw;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 10%;

  }
  #sectionRight{
    width: 100%;
    padding-left:0;
  }
  .content-right{
    width: 90%;
    padding-left: 10%;
  }
  .h1-section{
    font-size: 3rem;
  }
  .demo1{
    display: flex;
  }
  .card-elem:hover{
    transform: scale(1.05, 1.05);
  }
  .overlay::before{
    display: none;
  }
  .images-content{
    margin: 10%;
  }
  .btn-figcaption{
    display: none;
  }
  footer{
    width: 100%;
  }
  .h1-down{
    font-size: 3rem;
  }
  .newsletter{
    width: 100%;
    padding: 5;
    display: flex;
    float: left;
    margin-left: 10%;
    flex-direction: column;
  }

}