:root{
  --dark-green:#2e5a35;
  --beige:#d8c2ae;
  --wheat-color:#f4f0ec;
}

body{
  height: 100vh;
  padding: 0;
  position: relative;
}
nav{
    background-color: white;
    height:4.5rem;
}
.nav-link{
    color: black;
}
.logo{
    height: 3rem;
}

.nav-item{
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
}
main{
  padding: 0;
}
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
footer{
  bottom: 0;
  width: 100%;
  height: 25rem;
  background-color: #111111;
  color: white;

}
.btn-dark-green{
  border-radius: 30px;
  font-size: 1rem;
  background-color: var(--dark-green);
  border: none;
  color: white;
  padding: 2%;
}
#sliderLeft{
  background-color: var(--beige);
  width: 50%;
  height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
}
#img-responsive{
  width: 50%;
  right: 0;
  height: 100vh;
  position: absolute;
}
.slider{
  height: 100vw;
}
h1{
  color: black;
font-family: Montserrat;
font-size: 3.75rem;
font-style: normal;
font-weight: 500;
line-height: 4.375rem; 
}
.btn-beige{
  border-radius: 35px;
  font-size: 1rem;
  border:1px solid var(--dark-green);
  
  background-color: var(--beige);
  color: var(--dark-green);
  padding: 2%;
}
hr.solid {
  border: 0.8px solid white;
  width: 98%;
}

.footer-list .left{
  list-style: none;
  margin-left: 0%;
  padding-left: 0%;
}

.footer-list .right{
  list-style: none;
  margin-right: 0%;
  padding-right: 0%;
}
.footer-item{
  display: inline-block;
  margin-right: 1.5rem;

}
.row{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.boxes{
  background-color: var(--wheat-color);
  display: flex;
width: 90rem;
padding: 7.5rem 0rem 10rem 0rem;
flex-direction: column;
align-items: center;
gap: 6rem;
}