
nav{
    background-color: white;
    height:4.5rem;
}
.nav-link{
    color: black;
}
.logo{
    height: 3rem;
}
main{
    background-color: black;
}
.nav-item{
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
}


.search {
  height: 0px;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.search:focus:hover .search{
  border-bottom: 1px solid #BBB;
  color: black;
}

.search:focus:hover .search{
  width: 700px;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
i {
  height: 2rem;
  width: 2rem;
  top: 0;
  right: 0;
}

i:hover {
  opacity: 0.8;
}